form {
    margin: 0 auto;
    width: 900px;
    padding: 1em;
}

input[type=submit] {
    background: black;
    color: white;
    font-family: "Verdana";
    width: 200px;
    margin-top: 30px;
}

input:focus {
    border: 2px solid;
    border-color: dimgray;
}

input, textarea {
    font-family: "Verdana";
    background: #DCDCDC;
    border: 2px solid;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
}